@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

.home{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.home > h1{
	font-family: 'Monofett', monospace;
	font-size: 500%;
	text-shadow: 0 .1em .1em  rgb(143, 143, 143);
	color:darkslategray;
}


.home > article{
	margin-top: 4em;
	padding: 3em;
	box-shadow: 0 .3em .8em  rgb(143, 143, 143);
	z-index: 1;
	background-color: white;	
}

.home  p{
	padding: 0.5em;
	width: 28em;
	text-align: center;
}

.easterEgg{
	position:absolute;
 	top: 20em;
	width: 30em;
	padding: 1.5em;
	height: 19em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	z-index: 0;
}

.easterEgg div:nth-child(2){
	justify-self: flex-end;
}
.easterEgg div:nth-child(3){
	align-self: flex-end;
}
.easterEgg div:nth-child(4){
	align-self: flex-end;
	justify-self: flex-end;
}


