
header{
	height: 2em;
	width: 100vw;
	z-index: 2;
	position: fixed;
	box-shadow: 0 .1em .5em 0.2em rgb(133, 133, 133);
	color: white;
	background-color: darkslategray;
}

header>a:nth-child(1){
	position: absolute;
	right:10%;
	font-size: 2em;
	color: white;
}

.tabs-section{
	margin-top:2em;
	padding-top: 1;
	display: flex;
	align-items:flex-start;
	justify-content: center;
	
	gap: 1em;
	border: none;	
	z-index: 0;
}

.tabs-section a {
	width: 6em;
	height: 3em;
	padding: 1em;
	border-radius: 0 0 1em 1em;
	border: 2px solid #8b0000;
	border-top: none;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 .3em .8em  rgb(143, 143, 143);
	color: #ffffff;
	background-color: #8d8d8d;
	transition: all 0.3s linear;
}

.tabs-section a:focus{
	height: 6em;
	font-weight:500; ;
	background-color: rgb(190, 0, 0);
}

.tabs-section a:hover{
	height: 6em;
}

.search-tab{
	width: 3em;
	height: 3em;
	padding: 1em;
	border-radius: 0 0 1em 1em;
	border: 2px solid #8b0000;
	box-shadow: 0 .3em .8em  #8f8f8f;
	color: white;
	background-color: rgb(190, 0, 0);
	
}

.search-tab:hover{
	cursor: pointer;
	background-color: #01bb49;
	border-color: #008b35;
	

}


.visible{
	visibility:visible;
	position: absolute;
	top:6em;
	left:30%;
	padding:2em 4em;
	width: 40em;
	height: 80vh;
	text-align: left;
	border: 1px solid #8b0000;
	border-radius: 1em;
	box-shadow: 0 .3em .8em  #8f8f8f;
	color: white;
	background-color: #8d8d8d;
}

.invisible{
	visibility: hidden;
	position: absolute;
}

.search-section > div {
margin-bottom: 2em;
}
.search-section label{
	padding-right: 1em;
}

.search-section >ul{
	padding: 1em 2em;
	text-align: left;
	line-height: 1.8;
	max-height: 40em;
	min-height: 40em;
	overflow-y: scroll;
	color: black;
	background-color: white;
}

.search-section li {
	width: 100%;
}